CLIST_USERNAME=clientusername
CLIST_API_KEY=apikey
MONGO_USER =dbname
MONGO_PASSWORD =dbpassword
MONGO_URL=mongodb+srv://keerthimrunalini05_db_user:tjYwE8oSGrYgW8Ue@cluster0.d5mcmz9.mongodb.net/zcoder-keerthi?retryWrites=true&w=majority
JWT_SECRET=1fa8e5132ce3c6be110af0f18e8de12eb3c0db00ac51f26dabcb361d8b866f8ac27601cf0298e6e1ac04043d3c89ebda32a1dbbb7afd0b77428e9a130c6cf39b
GMAIL_USER=your-gmail-address@gmail.com
GMAIL_PASS=your-gmail-app-password
CLOUDINARY_CLOUD_NAME=cloudname
CLOUDINARY_API_KEY=cloudinarysecreyapi
CLOUDINARY_API_SECRET=cloudainrySecurykey
FRONTEND_URL=https://zcoder-keerthi.vercel.app,http://localhost:5173,http://localhost:3000
