CLIST_USERNAME=clientusername
CLIST_API_KEY=apikey
PORT =runningport
MONGO_USER =dbname
MONGO_PASSWORD =dbpassword
MONGO_URL=dburl
JWT_SECRET=secretkey
GMAIL_USER=emails address
GMAIL_PASS=password
CLOUDINARY_CLOUD_NAME=cloudname
CLOUDINARY_API_KEY=cloudinarysecreyapi
CLOUDINARY_API_SECRET=cloudainrySecurykey
FRONTEND_URL=frontendurl

if (!username || !apiKey) {
  return res.status(500).send('CLIST credentials not configured');
}
